:root{
    --bs-gradient: linear-gradient(90deg, #465ab8, #261360);
}

.searchInput{
    border-radius: 5px;
    margin: 5px;
}

.bg-gradient {
    background-image: var(--bs-gradient)!important;
}

.btn-primary {
    --bs-btn-bg: #6991e3;
}

.btn-secondary {
    --bs-btn-bg: #aeaeae;
}

div.card.col-2 {
    --bs-card-bg: #323d4f;
}